@mixin dashboard-textfield {
	
	.v-textfield,
	.v-filterselect {
		@include border-radius(5px);
		border: 1.5px solid rgb(215, 215, 215);
               
		//border-top-color: #d8d7d6;
                //border: 1px solid #FFFFFF;
		//border-top-color: #FFFFFF;
		
		background: rgba(244, 244, 244, 0);
		//box-shadow: 0 0 0 1px rgba(142,229,238,.5);
		
		font-family: 'Source Sans Pro';
                font-weight: 300;
                font-size: 18px;
		color: rgb(32, 49, 55);
		//line-height: 2.5;
                line-height: 35px;
                
                text-align: center;
		
		margin-top: -5px;
	}
        
        .v-textfield.username {
            margin-top: -20px;
            
            //transition: transform 1s;
        }
        
        .v-textfield.password {
            //transform: translate(0, 200%);
            margin-top: -40px;
        }
        
        /*.v-textfield.username:focus {
             transform: translate(0, 200%);
        }*/
        
	input.v-widget.v-textfield,
	.v-filterselect {
		padding: .25em .3em;	
	}
	
	.v-webkit & input.v-textfield,
	.v-webkit & .v-filterselect {
		padding-bottom: .3em;	
	}
        .v-textfield:hover {
            border-color: rgb(170, 170, 170);
        }
        
	.v-textfield:focus,
	.v-filterselect-focus {
                font-size: 18px;
                -webkit-font-size:20px;
		border-color: #7dbef1;
                outline: #7dbef1;
                border-radius: 6px;
                border-width: 1px;
                box-shadow: 0 0 0 2px rgba(224,235,243,1);
                //font-size: 20px
        }
	input.v-textfield-prompt,
	.v-filterselect-prompt .v-filterselect-input {
		font-style: normal;
	}
	
	input.v-widget.v-textfield.small,
	.v-filterselect.small {
		padding: .15em .2em;
		font-size: 12px;
	}
	
	
	.v-webkit & input.v-textfield.small,
	.v-webkit & .v-filterselect.small {
		padding-bottom: .2em;
	}
}